{% extends 'blog/base.html'%}
{% block content%}
    <!-- profile page section-->
    <section id="posts">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Hi {{user.username}}!</h2>
                    <p class="lead">{{user.email}}</p>
                    <h3></h3>
                    <ul>
                        <li>Clickable nav links that smooth scroll to page sections</li>
                        <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                        <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                        <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}